<div class="comment-form mt-5">
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <div>
    <%= form.hidden_field :commenter, value: current_user.email %>
  </div>
  <div>
    <%= form.text_area :body, class: 'form-control', placeholder: "Comment here..." %>
  </div>
  <div>
    <%= form.submit :Comment, class: "btn btn-primary btn-sm mt-2 float-right" %>
  </div>
<% end %>
</div>