<div class="container mt-5 d-flex flex-column align-items-center">
    <h1>Hello and welcome to Rails</h1>
    <%= link_to 'My Blog', { controller: 'articles' }, class: 'btn btn-outline-primary' %>
</div>